# Ignore system and user-specific files
**/AppData/
**/Documents/
**/Downloads/
**/OneDrive/
**/Pictures/
**/Videos/
**/Saved Games/
**/Music/
**/Favorites/
**/Links/
**/*.lnk
**/*.json
**/*.bak
**/.bash_history
**/.gitconfig
**/.python_history
**/.vscode/
**/.docker/
**/.tabby-client/
**/NTUSER.DAT
**/NTUSER.DAT{*}
**/node.dat
**/desktop.ini
../../.bash_history
        ../../.docker/
        ../../.gitconfig
        ../../.lesshst
        ../../.python_history
        ../../.tabby-client/
        ../../.viminfo
        ../../.vscode/
        ../../AppData/
        ../../Contacts/
        ../3d modeller/
        ../AIDA64 Extreme.lnk
        ../Autodesk Fusion.lnk
        ../Blender 4.3.lnk
        ../Docker Desktop.lnk
        ../Meshmixer.lnk
        ../PYthon projects/
        ../Postman.lnk
        ../PowerPoint.lnk
        booleans_kenny.py
        homework_11#10.py
        homework_11#8.py
        kenny_for_2.py
        kenny_if.py
        string_methods_kenny.py
        while.py
        ../Visual Studio Code.lnk
        ../Vivaldi.lnk
        ../Word.lnk
        ../desktop.ini
        ../frontend/
        ../mehsul siyahisi Abad 28.10.24.xlsx
        ../uTorrent Web.lnk
        "../\320\232\320\275\320\270\320\263\320\2601.xlsx"
        ../../Documents/
        ../../Downloads/
        ../../Favorites/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{5d0010e3-cf68-11ef-8966-ea83d420e7ed}.TM.blf
        ../../NTUSER.DAT{5d0010e3-cf68-11ef-8966-ea83d420e7ed}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{5d0010e3-cf68-11ef-8966-ea83d420e7ed}.TMContainer00000000000000000002.regtrans-ms
        ../../OneDrive/
        ../../Pictures/
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../bs-list.json
        ../../e-country.json
        ../../e-user.json
        ../../ex-list2.json
        ../../node.dat
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../python/
